*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open,sans-serif;
}
#container{
    height: 100vh;
    width: 90%;
    margin:auto;
    margin-bottom: 80px;
    border: 2px solid black;
}
#uppersection{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background: green;
}
/* working on the icons */
.icon{
    color: black;
    font-size: 30px;
    padding-top: 30px;
    margin-left: 10px;
}
#search{
    float: right;
}
#search input{
    padding: 10px 60px;
}
#search .icon{
    margin-right: 3px;
}
#company{
    width: 100%;
    height: 150px;
    padding-top: 50px;
    padding-left: 35%;
    background: red;
    color: white;
}
#company h2,#company h1{
    float:left;
}
#company h2{
    margin-right: 30px;
}
#company h1{
    font-size: 40px;
    font-weight: bold;
}
/* working on the content section */
#side{
    height: 466px;
    width: 30%;
    display: inline-block;
    float: left;
}
#side a{
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top:30px;
    text-decoration: none;
    color: black;
}
#side a:active{
    color: red;
}
#side a:hover{
    color: green;
}
#intro{
    border: 1px solid black;
    height: 466px;
    width: 70%;
    float:right;
    overflow:scroll;
    text-align: justify;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    line-height: 30px;
    font-size: 20px;
    background:#dbcdcc;
}
#intro h1{
    text-align:center;
    margin-bottom: 20px;
}
/* working on  the about us page */
#whole{
    width: 90%;
    height: 100vh;
    margin: auto;
    border: 2px solid black;
}
#comp{
    width: 100%;
    height: 150px;
    padding-top: 50px;
    padding-left: 35%;
    background: red;
    color: white;
}
#comp h2,#comp h1{
    float:left;
}
#comp h2{
    margin-right: 30px;
}
#comp h1{
    font-size: 40px;
    font-weight: bold;
}
#down{
    width: 100%;
    height: 466px;
}
#content{
    height: 100%;
    width: 60%;
    float: left;
    padding: 10px 30px;
    line-height: 30px;
    text-align: justify;
    background:#dbcdcc;
    border-radius: 10px;
}
#content h1{
    margin-bottom: 20px;
}
#image{
    height: 100%;
    width:40%;
    float:right;
}
#imge{
    height: 100%;
    width: 528px;
}
/* working on the contact us page */
#total{
    height: 100vh;
    width: 90%;
    margin: auto;
    border: 2px solid black;
}
#cmpny{
    width: 100%;
    height: 150px;
    padding-top: 50px;
    padding-left: 35%;
    background: red;
    color: white;
}
#cmpny h2,#cmpny h1{
    float:left;
}
#cmpny h2{
    margin-right: 30px;
}
#cmpny h1{
    font-size: 40px;
    font-weight: bold;
}
#contact h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
#contact{
    text-align: center;
}
#address{
    background: #9e9595;
    display: inline-block;
    height: 250px;
    width: 650px;
}
#address h3{
    margin-top:20px;
    margin-bottom: 20px;
}
#address a{
    margin-top: 40px;
}