*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}
/* working on the heading section */
#heading{
    font-family:Arial, Helvetica, sans-serif;
    display:inline-block;
    font-weight: 80px;
    font-size: 80px;
    float:left;
    height: 100px;
    width:50%;
    margin-left: 20px;
}
.color{
    color: rgb(50, 84, 168);
}
/* working on the side tab */
#sidetab{
    height: 100px;
    float:right;
    width: 48%;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 20px;
}
#sidetab span{
    margin: 10px;
    letter-spacing: 1px;
}
#sidetab button{
    padding: 5px 10px;
    background: transparent;
    font-size: 16px;
    font-weight: 19px;
    outline: none;
    border-radius: 5px;
}
#top-part{
    height: 100px;
    border-bottom: 4px solid black;
}
/* working on the hovering tab */
#info{
    width: 95%;
    margin:auto;
    height: 250px;
    margin-top: 30px;
    box-shadow: 10px 10px 10px #d3d7e0;
    border-top: 1px solid grey;
}
#weather{
   width: 40%;
   height: 100%;
   float:left;
   padding-top: 20px;
   padding-left: 20px;
   border-right: 1px solid gray;
}
#today{
    font-weight: 18px;
    font-weight: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
#date{
    font-weight: 18px;
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 11px;
}
#temp{
    margin: 5px;
}
#humidity{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    float: left;
    margin-right: 50px;
    font-size: 12px;
    font-weight: normal;
}
#wind{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
}
#city{
    height:100%;
    width: 60%;
    float: right;
    padding-top:20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#city h2{
    font-weight: normal;
    margin-bottom: 30px;
}
#city h3{
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 25px;
}
.metro{
    font-weight: bold;
}
/* working on the top-nav section */
#top-nav{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-top: 10px;
}
#top-nav li{
    float: left;
    list-style-type: none;
    margin-right: 10px;
    font-size:18px;
    font-weight: bold;
    color: #464647;
}
#search{
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    float:right;
    margin-right:20px;
    outline:none;
}
/* working on the first section */
#sec1{
    width: 85%;
    margin: auto;
    height: 1000px;
}
/* working on the side container */
#side{
    height: 100%;
    width: 25%;
    float:left;
    background:#cfcaca;
}
.box{
    height: 25%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
#box1{
    padding-top:50px;
    padding-right: 10px;
    padding-left: 20px;
    line-height: 30px;
}
#box1 h2{
    font-size: 20px;
    font-weight: normal;
}
#box2{
    font-size: 12px;
    font-weight: normal;
}
#box2 h2{
    font-size: 20px;
    font-weight: normal;
}
#box3{
    padding-top:50px;
    padding-right: 10px;
    padding-left: 20px;
    line-height: 30px;
}
#box3 h2{
    font-size: 20px;
    font-weight: normal;
}
#box4{
    padding-top:50px;
    padding-right: 10px;
    padding-left: 20px;
    line-height: 30px;
}
#box4 h2{
    font-size: 20px;
    font-weight: normal;
}
.box img{
    height: 150px;
    width:250px;
}
#middle{
    height: 100%;
    width: 50%;
    float:left;
    overflow: hidden;
}
#side2{
    height: 100%;
    width: 25%;
    float:left;
}
/* working on the middle section */
#withimg{
    height: 55%;
    width: 100%;
}
#withimg img{
    width:90%;
    margin:30px;
}
#withimg h1{
    margin: 30px;
    margin-top:0px;
}
#lowerone{
    height:45%;
    width: 100%;
}
#planecrash{
    height: 100%;
    width: 50%;
    float: left;
}
#planecrash img{
    width: 90%;
    height: 200px;
    margin-top: 60px;
}
.text{
    font-size: 20px;
    font-weight: normal;
}
#sideone{
    height:100%;
    width: 50%;
    float: right;
    margin-top: 60px;
    border-left: 1px solid grey;
}
.sie{
    float:left;
}
#up,#down{
    height: 40%;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
}
#sideone .text{
    padding-left: 10px;
}
#up
    padding-top: 60px;
}
/* working on the side 2 */
#special{
    padding-top: 0px;
}
#side2 .box{
    padding-top: 60px;
    padding-left: 20px;
}
/* working on section 2 and section 3 */
.heading2{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
#sec2,#sec3{
    height: 350px;
    padding-left: 10px;
}
.boximg{
    height: 100%;
    width: 25%;
    float: left;
}
#sec2 .text{
    padding-left: 10px;
    padding-right: 20px;
}
#sec2 .date{
    padding-left: 10px;
    padding-right: 20px;
}
#sec3 .text{
    padding-left: 10px;
    padding-right: 20px;
}
#sec3 .date{
    padding-left: 10px;
    padding-right: 20px;
}
/* working on section 4 */
#sec4{
    width: 100%;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#first{
    height: 100%;
    width: 25%;
    float: left;
}
#second{
    height: 100%;
    width: 25%;
    float: left;
}
#third{
    height: 100%;
    width: 25%;
    float: left;
}
#fourth{
    height: 100%;
    width: 25%;
    float: left;
    background: black;
}
#sec4 .heading{
    height: 4%;
    padding-left: 10px;
}
.sec4-boxes{
    height: 24%;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px
}
.sec4-boxes img{
    float: left;
    height: 100px;
    width: 90px;
}
.sec4-boxes span{
    float: right;
    height: 80px;
    width: 200px;
}
/* working on the section4 buttons */
.red{
    margin-left: 5px;
    font-size:12px;
    font-weight: bold;
    border-radius:0px;
    color: red;
    background:transparent;
    padding: 5px 10px;
    border: 2px solid red;
}
.green{
    margin-left: 5px;
    font-size:12px;
    font-weight: bold;
    border-radius:0px;
    color: green;
    background:transparent;
    padding: 5px 10px;
    border: 2px solid green;
}
.blue{
    margin-left: 5px;
    font-size:12px;
    font-weight: bold;
    border-radius:0px;
    color: blue;
    background:transparent;
    padding: 5px 10px;
    border: 2px solid blue;
}
#green{
    color: greenyellow;
}
#vowlet{
    color: violet;
}
/* working on the podcast section */
#fourth #heading{
    font-size: 25px;
    height: 4%;
    width: 100%;
    padding: 10px 10px;
    color: white;
    margin-bottom: 30px;
}
#podcasts h3{
    color: white;
    padding-left: 100px;
}
#podcasts h1{
    padding-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.podsection{
    width: 100%;
    height: 250px;;
    padding-left: 30px;
    padding-top: 40px;
}
.podsection img{
    height: 120px;
    width: 120px;
    margin: 10px;
}
.podbox{
    float: left;
}
.podbox h4{
    padding-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#fourth button{
    margin-left: 120px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid white;
    background: transparent;
    outline:none;
    color: white;
}
/* working on the 5th section */
#cricket{
    width: 95%;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
#cricket h1{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    height:70px;
    width: 100%;
    background: blue;
    color: white;
    padding-top: 20px;
    padding-left: 70px;
}
/* working on the navbar section 5 */
#second-nav{
     height: 55px; 
     height: 55px;
     width: 75%;
     position: absolute;
     top:16px;
     right: 0px;
     background: rgb(36, 35, 35);
}
#second-nav ul{
    height: 100%;
    width: 100%;
    list-style-type:none;
    color: white;
}
#second-nav ul li{
    float:left;
    height: 100%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
}
.sec5{
    height: 80%;
    width: 25%;
    border-right: 1px solid gray;
    float: left;
}
.sec5box{
    height: 50%;
    width: 100%;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 10px;
}
.sec5box img{
    height: 120px;
    width: 120px;
    float:left;
    margin-right: 10px;
}
.sec5 #spe{
    padding-top: 30px;
    padding-left: 20px;
}
.sec5 span{
    padding-left: 20px;
} 
/* working on the footer area */
.blues{
    color: rgb(50, 84, 168);
}
footer{
    width: 100%;
    height: 1000px;
    margin-bottom: 50px;
    background:#2e2e2e;
}
footer a{
    text-decoration: none;
    color: white;
    display:block;
    font-size: 18px;
    font-weight: 18px;
}

footer h3{
    color:#a8a0a0;
}
.group{
    height: 80%;
    width: 16%;
    float: left;
}
.group a{
    width: 100%;
    height: 8%;
    padding-left: 60px;
    padding-top: 10px;
}
#links{
    width: 100%;
    height: 80%;
}
.group h3{
    padding-top:10px;
    padding-bottom: 10px;
    font-weight: 20px;
    font-size: 20px;
}
#trend-btn{
    height:20%;
    width: 60%;
    float:left;
} 
#trend-btn a{
    display:inline-block;
    border:2px solid #baa9a9;
    padding: 10px 5px;
    margin: 5px;
    border-radius: 8px;
}
#top{
    margin-left: 10px;
    color: white;
}
#partner{
    height: 100px;
    width: 100%;
}
h5{
    color: white;
}
#partner a{
    display:inline-block;
    margin:10px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
h4{
    width: 30%;
    height: 30px;
    float: left;
    display: inline-block;
    color: white;
}
#last{
    width: 60%;
    height: 30px;
    float:right;
}
#last a{
    display: inline;
    margin-right: 10px;
}