*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* working on the nav section */
#nav-section{
    height: 60px;
    width: 100%;
    text-align: center;
}
#tabcontainer{
    height:100%;
    width: 100%;
    background-color: #478af5;
}
.tab{
    display:inline-block;
    height: 100%;
    width: 100px;
    padding-top: 15px;
}
.tab a{
    color: #161970;
    text-decoration: none;
    font-weight: bold;
}
.tab a:hover{
    color: green;
}
#content{
    width: 100%;
    height: auto;
    background-color:#7b22ab;
    border: 1px solid #7b22ab;
    position:relative;
}
img{
    height: 200px;
    width: 200px;
    margin: 10px;
    float:left;
}
#float{
    height: 200px;
    margin: 10px;
    width: auto;
    text-align: justify;
}
#para{
    margin: 10px;
    margin-top: 20px;
}
#position{
    height: 120px;
    width: 150px;
    position: absolute;
    top:0;
    right: 670px;
}
#position a{
    display:block;
    height: 33.33%;
    width: 100%;
    text-decoration:none;
    color:#161970;
    font-weight: bold;
    background-color: #478af5;
    padding-left: 10px;
    padding-top: 10px;
}
#position a:hover{
    color: green;
}