*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px; 
}
/* container section */
#container{
    height: 800px;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
/* navigation section */
#navigation-section{
    height: 60px;
    width: 100%;
}
.nav-tab{
    height: 100%;
    width: 33.33%;
    border: 1px solid black;
    display: inline-block;
    float: left;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    margin-bottom: 20px;
}
.nav-tab:hover{
    color: green;
}
button{
    padding: 8px 20px;
    background-color: blue;
    border: none;
    outline: none;
}
#date{
    padding: 8px 10px;
}
#seat-container{
    height: 60%;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
#upper-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#lower-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.seats{
    height: 40px;
    width: 80px;
    margin: 40px;
    background: green;
}
/* payment page */
#payment-container{
    height: 500px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
#heading{
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 58px;
    margin-bottom: 20px;
    font-weight: bold;
    color: red;
}
#form-container{
    height: 80%;
    width: 100%;
}
#payment-box{
    height: 400px;
    width: 100%;
}
input{
    height: 50px;
    width: 100%;
    margin: 15px 0px;
    background-color: lightgray;
    border: none;
    font-size: 15px;
    padding-left: 30px;
    outline:none;
}
#submit{
    margin-left: 400px;
    margin-top: 3px;
}
.selected{
    background: red;
}
.booked{
    background: gray;
}