#container{
    width:750px;
    margin: auto;
    border: 8px solid rgb(255, 100, 28);
    padding-bottom: 20px;
}
.personal-details{
    width:630px;
    margin-left: 30px;
    margin-top: 20px;
    border-bottom: 4px solid rgb(161, 85, 19);
    padding-bottom: 20px;
}
.second{
    position: relative;
}
#img{
    height: 160px;
    width: 150px;
    float:right;
    position: absolute;
    top:0;
    right:0;
}
h3{
    font-size:15px;  
    font-weight: bold;
    margin-top: 10px;
}
span{
    display:block;
    margin: 5px;
}
.first{
    float: left;
    width: 200px;
}
#details{
    float:left;
    margin-right: 80px;
    width:112px;
}
#education{
    width:630px;
    margin-left: 30px;
    border-bottom:4px solid rgb(161, 85, 19);
}
#major{
    float:left;
}
#management{
    display:inline-block;
}
#info{
    display:inline-block;
}
#jan{
    margin-bottom: 60px;
}
li{
    margin:5px;
}
section{
    margin: 30px;
}