body{
    text-align: center;
    margin:0px;
    padding:0px;
}
.items{
    height: 200px;
    width: 200px;
}
ul{
    list-style-type:none;
}
#owner{
    height: 300px;
    width: 300px;
    margin:20px;

}
#main-header{
    margin:0px;
    width:100%;
    height: 100px;
    background:rgb(235, 116, 12);
    padding-top:60px;
    color: rgb(7, 105, 46);
}
#red{
    color:rgb(8, 9, 82);
    text-transform:uppercase;
}
#contact{
    text-decoration:none;
    font-size: 20px;
    font-weight: 20px;
    display:block;
    color:black;
}
#contact:hover{
    color:blue;
}
#main-container{
    width:100%;
    height: 400px;
    background:rgb(167, 181, 172);
}
.container{
    display:inline;
    float:left;
    margin-left: 170px;
    margin-top:60px;
}
li{
    font-weight:bold;
}