*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#container{
    height: auto;
    width: auto;
}
#showboard{
    height: 50px;
    width: 800px;
    margin: auto;
}
#timer{
    display:inline-block;
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 15px;
}
#score{
    display:inline-block;
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 15px;
}
#play-area{
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin:auto;
    position: relative;
}
.red-circle{
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
}
.violet-circle{
    height: 18px;
    width: 18px;
    background: violet;
    border-radius: 50%;
}
.green-circle{
    height: 14px;
    width: 14px;
    background: green;
    border-radius: 50%;
}
.yellow-circle{
    height: 16px;
    width: 16px;
    background: yellow;
    border-radius: 50%;
}
.blue-circle{
    height: 20px;
    width: 20px;
    background: blue;
    border-radius: 50%;
}