*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
aside{
    background: rgb(56, 61, 58);
    height: 400px;
    width:220px;
    padding-top: 150px;
    float:left;
    margin-top: 60px;
    margin-left: 60px;
}
#heading{
    color: white;
    width: 100%;
    font-weight: 12px;
    font-weight: normal;
    padding-left: 50px;
}
#create{
    font-size: 18px;
    font-size: 18px;
    font-weight: normal;
    width: 150px;
    margin-left: 40px;
    color: rgb(92, 99, 95);
}
#pure{
    margin-left: 30px;
}
button{
    margin-top: 5px;
    padding:3px 10px;
    outline:none;
    background: transparent;
    border: 1px solid white;
    color: white;
}
#intro{
    height:400px;
    width: 700px;
    float:left;
    margin-top: 60px;
}
img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float:right;
    margin-right: 30px;
}
#introduce{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}
.blue{
    color: blue;
}
.section{
    color:black;
    border:1px solid black;
    font-size: 8px;
    font-weight: 8px;
    margin-top: 2px;
    margin-left: 5px;
    color: white;
}
.sub{
    float:left;
    margin-top: 6px;
}
#green{
    background:green;
}
#blue{
    background:blue;
}
#pink{
    background: rgb(189, 19, 73);
}