*{
    box-sizing: border-box;
}
#container{
    height: 450px;
    width: 450px;
    margin:auto;
    background:#1b1c26;
}
#first{
    height: 100%;
    width: 30%;
    float: left;
}
#second{
    height: 100%;
    width: 70%;
    float: right;
}
#one{
    height:30%;
    width: 93%;
    margin-bottom: 9%;
    background:#f7d063;
}
#two{
    height:37%;
    width: 93%;
    margin-bottom: 9%;
    background:#f7d063;
}
#three{
    height: 27%;
    width: 93%;
    background: #3848d9;
}
#four{
    width: 100%;
    height: 70%;
    margin-bottom: 3%;
    background: red;
}
#five{
    height: 27%;
    width:88%;
    float:left;
    background:#f7d063;
}
#six{
    height: 11%;
    width: 8%;
    float:right;
    margin-bottom: 5%;
    background:#f7d063;
}
#seven{
    height: 13%;
    width: 8%;
    float:right;
    background: yellow;
}