/* defining the global properties */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* working on the container */
#container{
    width: 1200px;
    height: auto;
    border: 2px solid black;
    margin: auto;
    background: #dcdce0;
}
/* header section */
#header{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid black;
}
/* main heading */
#main-heading{
    height: 100%;
    width: 30%;
    float:left;
    background: #686b69;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;

}
/* nav-section */
#nav-section{
    height: 100%;
    width: 45%;
    border: 1px solid black;
    float:left;
}
.tab{
    height: 100%;
    width: 33.33%;
    float: left;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    background: white;
}
#home{
    background: blue;
}
#log-in{
    height: 100%;
    width: 25%;
    border: 1px solid black;
    float:left;
    text-align: center;
    padding-top: 15px;
    background:#686b69;
}
/* Introduction section */
#introduction{
    height: 300px;
    width: 80%;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    background: white;
}
#introduction h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
}
#introduction p{
    width: 55%;
    margin:auto;
    height: auto;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
/* working on the dots */
#dots{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.dot{
    height: 15px;
    width: 15px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 5px;
}
#dot1{
    background: #3b3d3c;
}
/* provide-contact section */
#provide-contact{
    width: 70%;
    height: 500px;;
    border: 2px solid black;
    margin: auto;
    display: block;
    background: white;
}
/* provide section */
#provide{
    height: 100%;
    width: 70%;
    float: left;
}
#provide-info{
    height: 20%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 100px;
    line-height: 30px;
    padding-top: 20px;
}
/* provide-image section */
.provide-img{
    height: 50px;
    width: 60px;
    float: left;
}
#provide-content{
    height: 80%;
    width: 100%;
}
.provide-contetnt-box{
    height: 50%;
    width: 50%;
    float:left;
    padding-left: 20px;
    padding-top: 10px;
}
.provide-contetnt-box h2{
    font-size: 20px;
    font-weight: 12px;
    height: 30px;
    width: 200px;
    display: inline-block;
    padding-left: 10px;
}
.provide-contetnt-box p{
    font-size: 12px;
    font-weight: bold;
    height: auto;
    width: 200px;
    margin-left: 60px;
    padding-left:10px;
}
/* contact section */
#contact{
    height: 100%;
    width: 30%;
    border-left: 2px solid black;
    float: left;
    text-align: center;
}
#contact-us{
    border: 2px solid black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 30px;
    background: #52615a;
    margin-bottom: 20px;
}
#contact h1{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}
#Education-tour{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 12px;
}
#schedule{
    height: 150px;
    width: 100%; 
}
.planning{
    display: block;
    height: 16.6%;
    width: 100%;
}
#past-events{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
#past-schedule{
    height: 100px;
    width: 80%;
    border: 2px solid black;
    margin:auto;
}
.past-location{
    display: block;
    height: 33.33%;
    padding-top: 6px;
}
#tokyo{
    background:#82d3ff;
}
/* footer section */
#footer{
    height: 400px;
    width: 100%;
    border-top: 2px solid black;
    margin-top: 20px;
    background: white;
}
#upper-footer-section{
    width: 80%;
    height: 85%;
    margin: auto;
    padding-top: 30px;
}
.footer-box{
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}
#upper-footer-section a{
    display: block;
    height: 18%;
    width: 100%;
    padding-top: 20px;
}
/* social media container */
#socialmedia{
    height: 20%;
    width: 100%;
    padding-top: 20px;
    font-size: 30px;
}
.icon{
    margin-right: 10px;
}
#twitter{
    color: #2a9ddb;
}
#facebook{
    color: #332adb;
}
#linkeden{
    color: #17135c;
}
#lower-footer-section{
    height: 15%;
    width: 80%;
    margin:auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#link-container{
    height: 100%;
    width: 60%;
    float: left;
}
#link-container a{
    height: 100%;
    width: 33.3%;
    display: block;
    float: left;
    text-align: center;
    padding-top: 17px;
}
#Global-site{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    padding: 4px 30px;
    border-radius: 40%;
    outline: none;
}