*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#first{
    height: 90px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
    background: #7d90b8;
}
#second{
    height: 300px;
    width: 75%;
    float: left;
}
#title1{
    height: 50%;
    width: 100%;
    border: 15px solid #32fc3d;
    border-bottom: 6px solid #32fc3d;
    padding: 10px 20px;
}
#title2{
    height: 50%;
    width: 100%;
    border: 15px solid #32fc3d;
    border-top: 6px solid #32fc3d;
    padding: 10px 20px;
}
#third{
    height:300px;
    width: 25%;
    float:right;
}
h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
#third{
    padding: 20px;
    background-color:#c94b77;
}