*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#container{
    width: 100vw;
    height: 100vh;
    background: url(image/pic3.jpg);
    background-size: cover;
    overflow: hidden;
}
#firstimg{
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
/* working on the header section */
#header{
    width: 100%;
    height: 200px;
    text-align: center;
}
#header h1{
    display: inline-block;
    color: white;
}
#header a{
    display:block;
    text-decoration: none;
    color: white;
}
#header a:hover{
    color: green;
}
/* working on the navbar */
#navbar{
    height: 50px;
    width: 100%;
    text-align: center;
}
#navbar a{
    height: 100%;
    display:inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#navbar a:hover{
    color: green;
}
/* working on the #first div */
#first{
    height: 470px;
    width: 60%;
    text-align: center;
    padding-top: 20px;
    float: left;
    color:white;
}
#first a{
    display:block;
    width: 100%;
    height: 45px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#first a:hover{
    color :green;
}
#second{
    width: 40%;
    height: 470px;
    float:right;
}
#address{
    width: 80%;
    height:280px;
    margin:auto;
    padding-top: 30px;
    padding-left: 30px;
    color: white;
}
#find-us{
    width: 80%;
    height:190px;
    margin:auto;
    padding-top: 30px;
    padding-left: 30px;
    color: white;
}
.icon{
    font-size: 40px;
}
#youtube{
    color: red;
}
#facebook{
    color: blue;
}
#linkden{
    color: #071e73;
}
#twitter{
    color: skyblue;
}