*{
    box-sizing: border-box;
}
#container{
    height:600px;
    width: 850px;
    border: 1px solid black;
    background-color: #708074;
}
#first{
    height: 15%;
    width: 90%;
    border: 1px solid black;
    margin:auto;
    margin-top: 2%;
    background-color: white;
}
#second{
    width: 90%;
    height: 15%;
    margin:auto;
    margin-top:2%;
}
#whole{
    height: 40%;
    width: 90%;
    margin:auto;
    margin-top:2%;
}
#seventh{
    height: 15%;
    width: 90%;
    margin:auto;
    border: 1px solid black;
    margin-top: 2%;
    background-color: white;
}
.devide{
    height: 100%;
    width: 22%;
    border: 1px solid black;
    display: inline-block;
    margin-right:2%;
    background-color: white;
}
#three{
    margin-right: 6%;
}
#four{
    margin-right: 0%;
}
#third{
    height: 100%;
    width: 47%;
    border: 1px solid black;
    float:left;
    background:white;
}
#fourth{
    height: 100%;
    width: 51%;
    float: right;
}
#fifth{
    height: 46%;
    width: 100%;
}
#sixth{
    height: 46%;
    width: 100%;
    margin-top: 6%;
}
#five{
    height: 100%;
    width: 43%;
    border: 1px solid black;
    float:left;
    background: white;
}
#six{
    height: 100%;
    width: 43%;
    border: 1px solid black;
    float:right;
    background: white;
}
#seven{
    height: 100%;
    width: 43%;
    border: 1px solid black;
    float:left;
    background: white;
}
#eight{
    height: 100%;
    width: 43%;
    border: 1px solid black;
    float:right;
    background-color: white;
}